<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Gestión Clínica</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Gestión Clínica</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/login/">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/recepcion/registrar/">Recepción</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/diagnostico/asignar/">Diagnóstico</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/entrega/verificar/">Entrega</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-4">
    <h1 class="mb-4 text-center">💻 Sistema de Gestión Clínica</h1>
    <hr>
    {% block content %}{% endblock %}
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
