{% extends 'base.html' %}
{% block content %}
<h2>Reporte de entrega</h2>
<form method="post" class="mt-3">
  {% csrf_token %}
  <div class="mb-3">
    <input type="text" name="cliente" placeholder="Nombre cliente" class="form-control" required>
  </div>
  <div class="mb-3">
    <select name="estado" class="form-select">
      <option value="Entregado">Entregado</option>
      <option value="Pendiente">Pendiente</option>
    </select>
  </div>
  <div class="mb-3">
    <textarea name="observaciones" placeholder="Observaciones" class="form-control"></textarea>
  </div>
  <button type="submit" class="btn btn-success">Guardar</button>
</form>
{% endblock %}
